<h1>帖子</h1>
<a href="/posts/new">创建新帖子</a>
<% posts.forEach(post => { %>
  <div>
    <h2><%= post.author.username %></h2>
    <p><%= post.content %></p>
    <% if (post.images.length > 0) { %>
      <% post.images.forEach(image => { %>
        <img src="<%= image %>" alt="Post image" width="200">
      <% }) %>
    <% } %>
    <p>点赞数: <%= post.likes.length %></p>
    <a href="/posts/<%= post._id %>">查看帖子</a>
  </div>
<% }) %>